[Desktop Entry]
Name=Kubux Calendar
Comment=A simple desktop calendar for CalDav and ICS subscriptions
Exec=kubux-calendar
Icon=calendar
Terminal=false
Type=Application
Categories=Office;Calendar;
Keywords=calendar;nextcloud;caldav;ics;schedule;events;
StartupWMClass=kubux-calendar
